.btn-delete, .btn-done, .btn-save, .btn-cancel {
  width: 20px;
  height: 20px;
  margin: 0px 10px 0px 5px;
  text-align: center;
  float: right;
  display: inline-block;
}

.class-eventList {
    border-radius: 10px;
    text-align: left;
    width: 90%;
    height: 45px;
    font-size: 15px;
}

.container {
  text-align: center;
}

.list-group {
  text-align: center;
  width: 90%;
}