
.form-inline {
  text-align: center;
}

.form-group {
  text-align: center;
  width: 90%;
}

.img-hint {
    width: 30px;
    height: 30px;
    margin: 20px 0 20px 0;
    text-align: center;
    display: inline-block;
}

.btn-add {
    color: #f4f4f4;
    background: #1abc9c;
    font-weight: 700;
    margin-left: 5px;
    font-family: Arial,sans-serif;
    /*border: 10;*/
    /*margin-bottom: 5px;*/
    border-radius: 5px;
    height: 25px;
}

.input-text {
    border-radius: 10px;
    height: 45px;
    width: 100%;
    font-size: 15px;
    margin-bottom: 30px;
    text-align: left;
}

.main { 
    margin: 0 auto;
}



